<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Builder 20000</title>
   <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />

  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Build up your Server</a></h1>
      <h2>Your Applications</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    Bachelorarbeit Jan Lepel
  </footer>
</body>
</html>