<body class='container'>
<section id="add">
  <form method="post" action="/add">
    <input type="text" name="name" placeholder="Name&hellip;">
    <input type="text" name="ip" placeholder="IP&hellip;">
    <input type="text" name="description" placeholder="Description&hellip;">
    <input type="text" name="precise" placeholder="Precise&hellip;">
    <button type="submit">Save</button>
  </form>
</section>